/* html, body, main { */
  /* height:100%; */
  /* width:100%; */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
/* } */
* {
  font-size:large
}

/* p, ul, li {
  font-family: 'Inconsolata', monospace;
  padding: 5px;
} */

html, body, head, .CodeMirror {
  height: 100vh !important;
  width: 100vw !important;
  padding: 0px !important;
  margin: 0px !important;
}

.CodeMirror {
  position: absolute;
  top: 0;
  left: 0;
}